.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__body {
  max-width: 696px;
  max-height: 408px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #4F8CF6;
  padding: 40px;
}
.form__title {
  max-width: 450px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 112.5%;
  margin-bottom: 32px;
}
.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form form input[type=text] {
  max-width: 200px;
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  height: 48px;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.form form input[type=email] {
  max-width: 200px;
  width: 100%;
  border-radius: 8px;
  background: #FFF;
  height: 48px;
  padding: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
.form textarea {
  resize: none;
  max-width: 608px;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96px;
  padding: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form textarea:focus-visible {
  outline: none;
  border: 0;
}
.form__submit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.form__submit__btn {
  margin-top: 24px;
}
.form .submit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  padding: 14px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #FFF;
}
.form__politic {
  color: #FFF;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}
.form__politic a {
  color: #FFF;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-decoration-line: underline;
}