@media (max-width: 1024px) {
  .content__right .telegram {
    margin-bottom: 32px !important;
  }
  .desc .desc__photo img {
    height: 266px !important;
  }
}
@media (max-width: 962px) {
  .owl-item {
    margin-right: 78px;
  }
  .owl-stage {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .desc__author {
    height: 96px;
    padding: 0px;
  }
  .desc__author__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-column-gap: 33px;
       -moz-column-gap: 33px;
            column-gap: 33px;
    width: 100%;
  }
  .desc__author__photo img {
    display: block;
    max-width: none;
    width: 94px;
    height: 94px;
  }
  .desc__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  .desc .desc__author__name {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 100%;
  }
  .desc__author__special {
    text-align: left;
  }
  .content__time-code-show {
    margin-left: 76px;
  }
  .content__right__body {
    margin-left: -171px;
  }
  .content__right .boxRight__title {
    font-size: 20px;
    line-height: 120%;
  }
  .box2 {
    max-width: 470px;
  }
  .box2::before {
    width: 93.4%;
  }
  .desc__photo {
    display: none !important;
  }
  .desc__author {
    width: 280px;
    left: 454px !important;
  }
  .desc .page__item__title {
    font-size: 46px;
  }
  .desc .page__item__body {
    margin-bottom: 20px;
  }
  .content__right .telegram {
    margin-top: 16px !important;
    margin-bottom: 61px !important;
  }
  .arrow__email {
    display: none;
  }
  .content__right .telegram__title h5 {
    font-size: 24px;
    line-height: 116%;
  }
  .content__right .telegram__desc {
    font-size: 12px;
  }
  .content__right .email__title h5 {
    font-size: 24px;
    line-height: 116%;
  }
  .content__right .email__desc {
    font-size: 12px;
  }
  .content__right .email__btn {
    padding: 14px 12px;
  }
  .content__leadtext {
    max-width: 524px;
    margin-left: 15px;
  }
  .content__third__sum-title {
    max-width: 544px;
  }
  .content__second-sub-title,
  .content__text,
  .content__image__first,
  .content__image__first,
  .video__image,
  .video__image {
    max-width: 544px;
  }
  .content__time-code-body {
    max-width: 448px;
  }
  .table__title {
    max-width: 544px;
  }
  .table__title h2 {
    line-height: 120%;
    font-size: 20px;
  }
  .list ol li,
  .markers li {
    max-width: 504px;
  }
  .quote__text {
    max-width: 495px;
  }
  .quote__author__row {
    max-width: 495px;
  }
  .content__second-sub-title h2 {
    font-size: 28px;
  }
  .second .img__content__image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .second__desc p {
    text-align: right;
  }
  .content__text__second {
    max-width: 544px;
  }
  .seo {
    max-width: 544px;
  }
  .seo__img {
    position: absolute;
    top: 115px;
    right: -107px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .content__image__first,
  .content__image__second {
    max-width: 544px;
  }
  .content__text__second p,
  .content__text__third p,
  .content__text__four p {
    color: #333;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 544px;
  }
  .slider__row {
    width: 78%;
  }
  .second__desc {
    margin-right: 150px;
  }
  .outputArticles h2 {
    font-size: 28px;
  }
  .outputArticles__title__second h2 {
    font-size: 28px !important;
  }
  .outputArticles .plus__desc,
  .outputArticles .minus__desc {
    max-width: 224px;
  }
  .outputArticles__second__body {
    max-width: 544px;
  }
  .like__page {
    margin-right: 16px;
  }
  .like__page a {
    width: 200px;
  }
  .like__social {
    margin-left: 0px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
  .form__body {
    max-width: 544px;
    max-height: none;
  }
  .form form input[type=text] {
    max-width: none !important;
    margin-bottom: 8px;
  }
  .form form input[type=email] {
    max-width: none !important;
    margin-bottom: 0px;
  }
  .owl-item {
    width: 280px !important;
  }
  .owl-item {
    margin-right: 32px;
  }
  .owl-stage {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (max-width: 425px) {
  .container__top {
    padding: 0px 0px;
  }
  .desc .page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .desc .page__item__title {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .desc .page__item__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .desc .page__item__row {
    padding: 16px;
  }
  .desc .page__item__times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desc .page__item__desc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .desc .page__item__data p {
    width: 160px;
  }
  .desc .page__item__tags__body__row {
    padding-left: 15px;
  }
  .desc__author {
    left: 0px !important;
    top: 150px !important;
    max-width: 393px !important;
    width: 100%;
    top: 80px !important;
    left: 16px !important;
  }
  .box2 {
    height: auto !important;
  }
  .box2::after {
    content: "";
    display: none;
  }
  .box2::before {
    width: 100%;
  }
  .content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }
  .content__right {
    margin-top: 95px;
    margin-bottom: 650px;
    max-width: 395px;
  }
  .content__right .telegram,
  .content__right .email,
  .content__right .boxRight__contain {
    max-width: inherit;
  }
  .content__right__body {
    margin-left: 0px;
  }
  .content__second-sub-title h2 {
    font-size: 24px;
    text-align: left;
  }
  .content__text__second p,
  .content .content__text__third p,
  .content .content__text__four p {
    font-size: 14px;
    line-height: 142%;
  }
  .box {
    border-bottom-right-radius: 0px !important;
  }
  .like__body__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video__item {
    left: 21px;
  }
  .video__item__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .video__item__play {
    max-width: 72px;
    width: 100%;
  }
  .video__item__desc__box__title {
    font-size: 18px;
  }
  .video__item__desc__box__time {
    font-size: 14px;
  }
  .content__time-code-row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .content__time-code-show {
    margin-left: 0;
  }
  .quote__text {
    font-size: 18px;
    line-height: 111%;
  }
  .markers li {
    font-size: 14px;
  }
  .second__desc p {
    text-align: center;
  }
  .seo__body {
    padding: 24px 16px;
  }
  .seo__title {
    text-align: left;
  }
  .seo__title h5 {
    font-size: 24px;
    line-height: 100%;
  }
  .seo__text {
    max-width: 278px;
    width: 100%;
  }
  .seo__img {
    width: 46.5%;
    top: 202px;
    right: 0;
  }
  .slider__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__row {
    width: 100%;
  }
  .slider__top img {
    height: 192px !important;
  }
  .outputArticles__title__second h2 {
    font-size: 24px !important;
  }
  .outputArticles__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .outputArticles .plus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .outputArticles .minus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 8px;
  }
  .like__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .like__page {
    margin-bottom: 16px;
  }
}