@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
.active {
  display: block;
}

.none {
  opacity: 0;
  display: none;
}

.container__top {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1246px;
  margin: 0 auto;
  padding: 0 15px;
}

.desc__body {
  position: relative;
}
.desc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.desc__photo {
  width: 384px;
  height: 376px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.desc__photo img {
  border-radius: 16px;
}
.desc__author {
  padding: 24px;
  width: 280px;
  height: 96px;
  position: absolute;
  top: 16px !important;
  left: 520px !important;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  background: #F5F5F7;
  -webkit-transition: top 1s, left 1s;
  transition: top 1s, left 1s;
  /* Добавляем плавность перехода для свойств top и left */
}
.desc__author__name {
  color: #1A1A1A;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px;
}
.desc__author__special {
  color: #1A1A1A;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  opacity: 0.5;
  margin-top: 12px;
  text-align: right;
}
.desc .page__item__body__row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  margin-top: -10px;
}
.desc .page {
  padding: 40px 40px 28px 40px;
}
.desc .page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.desc .page__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 40px 0px 40px;
}
.desc .page__item__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.desc .page__item__times {
  color: #FFF;
  text-align: right;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
}
.desc .page__item__times p {
  margin-top: 12px;
  width: 81px;
  color: #FFF;
  text-align: right;
  font-family: "Roboto";
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 142%;
}
.desc .page__item__date {
  width: 80px;
  color: #FFF;
  text-align: right;
  font-family: "Roboto";
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 142%;
}
.desc .page__item__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 85px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.desc .page__item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  width: 239px;
}
.desc .page__item__eye, .desc .page__item__like, .desc .page__item__time {
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
  padding-left: 25px;
}
.desc .page__item__time {
  background: url("../images/index/1.png");
  background-repeat: no-repeat;
}
.desc .page__item__eye {
  background: url("../images/index/3.png");
  background-repeat: no-repeat;
}
.desc .page__item__like {
  background: url("../images/index/2.png");
  background-repeat: no-repeat;
}
.desc .page__item__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 92%;
  width: 102%;
}
.desc .page__item__text {
  margin-top: 24px;
  max-width: 427px;
  color: #FFF;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  margin-bottom: 24px;
}
.desc .page__item__tags__body {
  max-width: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.desc .page__item__tags__body__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #FFF;
}
.desc .page__item__tags__body__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 6px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  padding-left: 39px;
  margin-top: -5px;
}
.desc .page__item__tags__body__row a {
  text-align: center;
  color: #000;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  max-width: 107px;
  width: 100%;
  text-decoration: none;
  padding-left: 20px;
}
.desc .page__item__tags__body .Marketing {
  background: url("../images/index/tags/3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.desc .page__item__tags__body .SEO {
  background: url("../images/index/tags/2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.desc .page__item__tags__body .Development {
  background: url("../images/index/tags/1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.box__body {
  max-width: 800px;
  position: relative;
}

.box__item {
  top: 0;
  left: 0;
  width: 100%;
}

.box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: #4F8CF6;
}

.box2 {
  max-width: 536px;
  background: #4F8CF6;
  position: relative;
  margin-top: -1px;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}

.box2::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -1px;
  width: 32px;
  height: 100%;
  background: #FFF;
  border-top-left-radius: 16px;
}

.box2::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 94.25%;
  border-bottom-right-radius: 16px;
  background: #4F8CF6;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  bottom: -15px;
  z-index: -1;
}

.content {
  margin-top: 40px;
}
.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.content__left {
  max-width: 696px;
  width: 100%;
  height: 400px;
  margin-left: auto;
}
.content__right {
  max-width: 384px;
  width: 100%;
  height: 320px;
  background-color: #6b7079;
}
.content__left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content__leadtext {
  max-width: 676px;
  margin-left: auto;
  position: relative;
  margin-bottom: 64px;
}
.content__leadtext P {
  color: #1A1A1A;
  font-family: "Roboto";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 116%;
}
.content__leadtext::after {
  content: "";
  width: 4px;
  height: 100%;
  background: #4F8CF6;
  position: absolute;
  top: 0;
  left: -16px;
}
.content__second-sub-title {
  max-width: 593px;
  width: 100%;
  text-align: left;
  margin-bottom: 32px;
}
.content__second-sub-title h2 {
  color: #333;
  font-family: "Montserrat";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.content__text {
  max-width: 696px;
  width: 100%;
  margin-bottom: 24px;
}
.content__text p {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.content__text p:last-child {
  padding-top: 16px;
}
.content__text p:last-child a {
  color: #4F8CF6;
  text-decoration: underline;
}
.content__image__first, .content__image__second {
  max-width: 696px;
  max-height: 392px;
  width: 100%;
  height: 100%;
  margin-bottom: 56px;
}
.content__image__first img, .content__image__second img {
  border-radius: 16px;
}
.content__image__second {
  margin-bottom: 8px;
}
.content__third__sum-title {
  max-width: 593px;
  width: 100%;
  margin-bottom: 40px;
}
.content__third__sum-title h2 {
  color: #333;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}

.video img {
  border-radius: 16px;
}
.video__body {
  position: relative;
}
.video__image {
  border-radius: 16px;
  position: relative;
  z-index: 99;
  max-width: 696px;
  max-height: 392px;
  width: 100%;
  height: 100%;
}
.video__image:after {
  content: "";
  border-radius: 16px;
  background: #4F8CF6;
  opacity: 0.8000000119;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.video__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__item__desc__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  width: 100%;
}
.video__item__desc__box__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  text-align: left;
  margin-bottom: 8px;
}
.video__item__desc__box__time {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__top {
  max-width: 696px;
}
.slider__top img {
  height: 396px;
  border-radius: 16px;
}
.slider__buttom {
  margin-top: 8px;
  max-width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.slider__buttom img {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
  width: 124px;
  height: 100px;
  border-radius: 8px;
  margin-left: 8px;
}

.video {
  margin-bottom: 32px;
}
.video img {
  border-radius: 16px;
}
.video__body {
  position: relative;
}
.video__image {
  border-radius: 16px;
  position: relative;
  z-index: 99;
  max-width: 696px;
  max-height: 392px;
  width: 100%;
  height: 100%;
}
.video__image:after {
  content: "";
  border-radius: 16px;
  background: #4F8CF6;
  opacity: 0.8000000119;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.video__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.video__item__desc__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  width: 100%;
}
.video__item__desc__box__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116.667%;
  text-align: left;
  margin-bottom: 8px;
}
.video__item__desc__box__time {
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.content__time-code-box-body {
  margin-bottom: 24px;
}
.content__time-code-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__time-code-show, .content__time-code-close {
  max-width: 155px;
  width: 100%;
  margin-bottom: 16px;
}
.content__time-code-show button, .content__time-code-close button {
  padding-left: 24px;
  text-align: center;
  color: #4F8CF6;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 142%;
}
.content__time-code-show {
  background: url("../images/index/arrow.svg");
  background-repeat: no-repeat;
}
.content__time-code-close {
  background: url("../images/index/close.svg");
  background-repeat: no-repeat;
}
.content__time-code .col__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 20px;
}
.content__time-code .col__time {
  color: #4F8CF6;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
.table__title {
  max-width: 592px;
}
.table__title h2 {
  margin-bottom: 20px;
  color: #333;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}
.table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #DEECFA;
  max-width: 562px;
  width: 100%;
  margin-bottom: 24px;
}
.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 12px;
}
.table .col-1 {
  margin-right: 24px;
}
.table .col-2 {
  margin-right: 32px;
}
.table .title {
  color: #1A1A1A;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.table .model {
  max-width: 64px;
  width: 100%;
}
.table .year {
  max-width: 160px;
  width: 100%;
}
.table .prom {
  max-width: 272px;
  width: 100%;
}
.table .model,
.table .year,
.table .prom {
  color: #333;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.list ol {
  list-style-type: none;
  counter-reset: num;
  margin: 0 0 0 38px;
  padding: 15px 0 5px 0;
  font-size: 16px;
}
.list ol li {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  line-height: 1.4;
}
.list ol li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -38px;
  width: 28px;
  height: 28px;
  background: #fff;
  color: #000;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #DEECFA;
}

.quote {
  margin-bottom: 56px;
}
.quote__row {
  max-width: 647px;
  width: 100%;
}
.quote__box__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 10px;
}
.quote__box__img img {
  max-width: 32px;
}
.quote__text {
  color: #1A1A1A;
  font-family: "Roboto";
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 116%;
  position: relative;
<<<<<<< HEAD
}
.quote__author__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
.quote__box__author {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.quote__author {
  margin-bottom: 8px;
}
.quote__author p {
  color: #333;
  text-align: right;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.quote__specialization {
  width: 132px;
}
.quote__specialization p {
  color: #1A1A1A;
  text-align: right;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  opacity: 0.5;
}
.quote__box__photo {
  display: block;
}
.quote__box__photo img {
  border-radius: 50%;
}

.markers {
  margin-bottom: 56px;
  row-gap: 12px;
  margin-left: 38px;
}
.markers li {
  list-style: disc !important;
  margin-bottom: 12px;
}
.markers li:nth-last-child(1) {
  margin-bottom: 0;
}
.markers li::marker {
  color: #DEECFA;
  font-size: 18px;
}

.second .img__content__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second__desc {
  max-width: 488px;
  width: 100%;
}
.second__desc p {
  color: #666;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 116%;
}
=======
}  
>>>>>>> f41f90ed7a89549c6ea4df1a9f2070e9c1743a4f
